<div class="w-screen h-screen overflow-hidden">
    <app-cabecera></app-cabecera>
    <div class="grid grid-cols-6 overflow-x-hidden overflow-y-auto h-full">
        <div class="relative col-span-6 flex justify-center items-center h-96 overflow-y-hidden w-full">
            <h1 class="absolute text-5xl font-bold text-center py-10 text-white">Sobre Nosotros</h1>
            <img class="w-full"
                src="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="" />
        </div>
        <div class="col-span-6 bg-primary px-10 text-gray-100">
            <p class="text-lg text-center my-16 w-full">
                En BiciRent, estamos comprometidos con la transformación de la movilidad urbana y creemos firmemente que
                el
                ciclismo es la clave para construir ciudades más sostenibles y conectadas. Nuestro equipo combina una
                profunda pasión por el ciclismo, una sólida experiencia tecnológica y un conocimiento experto en
                logística
                para ofrecer la mejor experiencia de alquiler de bicicletas. Nos esforzamos por hacer que el transporte
                sea
                más accesible, eficiente y respetuoso con el medio ambiente, permitiendo a nuestros usuarios disfrutar
                de
                sus trayectos de manera cómoda y segura. Cada día trabajamos para mejorar nuestras soluciones,
                fomentando un
                estilo de vida saludable y reduciendo la huella de carbono en las ciudades donde operamos.
            </p>
        </div>

        <div class="lg:col-span-3 col-span-6 flex font-serif text-5xl items-center justify-center font-bold lg:px-10 lg:py-0 p-20 md:text-start text-center">
            <span>" El que tiene una bicicleta, tiene la libertad. "</span>
        </div>
        <div class="lg:col-span-3 col-span-6 mb-32">
            <img class="w-full"
                src="https://images.pexels.com/photos/5225317/pexels-photo-5225317.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="" />
        </div>
    </div>
</div>