<header class="bg-primary text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-3xl font-bold">BiciRent</h1>
    <nav class="flex space-x-4">
      <!-- Links comunes a todos los usuarios -->
      <ul class="flex space-x-4 font-semibold">
        <li><a routerLink="/" class="hover:underline">Inicio</a></li>
        <li><a routerLink="/nosotros" class="hover:underline">Nosotros</a></li>
        <li><a routerLink="/contactos" class="hover:underline">Contactanos</a></li>
      </ul>

      <!-- Links específicos para técnico -->
      <ul *ngIf="userRole === 'tecnico' || userRole === 'admin'" class="flex space-x-4 font-semibold">
        <li><a routerLink="/tecnico" class="hover:underline">Asignación</a></li>
      </ul>

      <!-- Links específicos para mantenimiento -->
      <ul *ngIf="userRole === 'personalMantenimiento' || userRole === 'admin'" class="flex space-x-4 font-semibold">
        <li><a routerLink="/ver-incidencias" class="hover:underline">Incidencias</a></li>
      </ul>
    </nav>

    <!-- Iniciales del usuario -->
    <div>
      <button class="w-10 h-10 rounded-full bg-white flex items-center justify-center text-primary"
        (click)="showModalUser()" [ngClass]="{ 'hidden': !userData.nombre}">
        <span>{{ userInitials }}</span>
      </button>
    </div>

    <div class="z-10 absolute top-16 right-5 bg-white text-gray-800 pt-5 rounded-lg overflow-hidden"
      [ngClass]="{ 'hidden': !showModal }">
      <div class="px-5"><span class="text-lg font-medium">{{ userData.nombre }} {{ userData.apellido }}</span></div>
      <div class="px-5"><span class="text-sm">{{ userData.rol }}</span></div>
      <button class="w-full px-5 text-start mt-3 border-y-2 py-3 hover:bg-blue-200 hover:font-semibold"
        (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
</header>