<header class="bg-primary text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-3xl font-bold">BiciRent</h1>
    <nav class="flex space-x-4">
      <!-- Links comunes a todos los usuarios -->
      <ul class="flex space-x-4 font-semibold">
        <li><a routerLink="/" class="hover:underline">Inicio</a></li>
        <li><a routerLink="/nosotros" class="hover:underline">Nosotros</a></li>
        <li><a routerLink="/contactos" class="hover:underline">Contactanos</a></li>
      </ul>

      <!-- Links específicos para técnico -->
      <ul *ngIf="userRole === 'tecnico' || userRole === 'admin'" class="flex space-x-4 font-semibold">
        <li><a routerLink="/" class="hover:underline">Inicio</a></li>
        <li><a routerLink="/bicicletas" class="hover:underline">Bicicletas</a></li>
      </ul>

      <!-- Links específicos para mantenimiento -->
      <ul *ngIf="userRole === 'mantenimiento' || userRole === 'admin'" class="flex space-x-4 font-semibold">
        <li><a routerLink="/" class="hover:underline">Inicio</a></li>
        <li><a routerLink="/bicicletas" class="hover:underline">Bicicletas</a></li>
      </ul>
    </nav>

    <!-- Iniciales del usuario -->
    <div class="w-10 h-10 rounded-full bg-white flex items-center justify-center text-primary">
      <span>{{ userInitials }}</span>
    </div>
  </div>
</header>